* , *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

svg {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Martel', serif;
}

button {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: block;

    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, .9);

    font-size: 16px;
}

button:hover {
    box-shadow: 3px 3px 10px black;
}

p {
    font-size: 20px;
    margin-right: 10px;
}

input {
    height: 40px;
    margin-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}


.header {
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: 0px 50px;
    height: 90px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.inputs-container {
    display: flex;
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* border: 1px solid rgb(0, 0, 0, 0.5); */
    justify-content: space-between;
    margin-bottom: 40px;
}

.checkbox-container {
    display: flex;
    margin-left: 20px;
}

.text-container {
    display: flex;
    margin-left: 20px;
}

#delaunay {
    width: 18px;
    height: 18px;
}